In [1]:
import pandas as pd
import os

# Table of Contents

1. [Load data](#Load-data)

## Load data

In [13]:
html_df = pd.read_csv('../data/sample_revised_webpage_metadata.csv')

In [10]:
html_df.select_dtypes(include='number')

,entityid,capture_yr,capture_m,file_exists,is_429,is_parsable,website_size_kb,careers,blog,login,...,call_to_action,testimonial,p_count,h_count,img_count,a_count,table_count,form_count,script_count,time_from_start_m
0,1013154428,2009,4,1,0,1,21.376953,0,0,0,...,0,0,0,7,8,54,2,2,7,36.0
1,1013154428,2011,2,1,0,1,16.475586,0,0,0,...,0,0,14,7,12,14,0,0,9,58.0
2,1013154428,2011,5,1,0,1,16.558594,0,0,0,...,0,0,14,7,12,14,0,0,9,61.0
3,1013154428,2012,4,1,0,1,16.480469,0,0,0,...,0,0,14,7,12,14,0,0,9,72.0
4,1013154428,2012,11,1,0,1,16.561523,0,0,0,...,0,0,14,7,12,14,0,0,9,79.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663,75373,2003,7,1,0,1,20.981445,0,0,0,...,0,0,4,0,11,19,2,0,9,24.0
664,75373,2003,12,1,0,1,20.932617,0,0,0,...,0,0,4,0,11,19,2,0,9,29.0
665,75373,2004,7,1,0,1,9.151367,0,0,0,...,0,0,0,0,11,10,3,0,4,36.0
666,75373,2005,1,1,0,1,9.091797,0,0,0,...,0,0,0,0,11,10,3,0,4,42.0
667,75373,2005,4,1,0,1,9.149414,0,0,0,...,0,0,0,0,11,10,3,0,4,45.0

In [15]:
list(html_df.columns)

['entityid',
 'capture_yr',
 'capture_m',
 'file_path',
 'file_exists',
 'is_429',
 'is_parsable',
 'website_size_kb',
 'text_array',
 'a_dict',
 'careers',
 'blog',
 'login',
 'contact',
 'team',
 'about',
 'news',
 'faq',
 'call_to_action',
 'testimonial',
 'title',
 'description',
 'keywords',
 'author',
 'language',
 'p_count',
 'h_count',
 'img_count',
 'a_count',
 'table_count',
 'form_count',
 'script_count',
 'embedded_js',
 'external_js',
 'time_from_start_m']